/* query movil */
@media screen and (max-width: 600px) {
    .col{
        padding:5em; 
        margin:0px; 
        background-color:lightgray;
    }

       

    .detalle{
        padding: 1vw;
        width: 10em;
        height: 40px;
    }
}